
:root {
  --cor-principal: #141414;
  --cor-secundaria: #E50914;
  --cor-texto: #AAA; /*mudar nome da variável*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-principal);
  font-family: Arial, Helvetica, sans-serif;
  color: #F4F4F4; /*adicionar nas variáveis*/
}

header .container {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

header .logo {
  color: var(--cor-secundaria);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  letter-spacing: 4px;
}

header nav a {
  text-decoration: none;
  color: var(--cor-texto);
  margin-right: 30px;
}

header nav a:hover {
  color: #F4F4F4;
}

.destaque {
  background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('/assets/capa-gambito.jpg');
  background-size: cover;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container {
  margin-left: 20px;
}

.destaque .container {
  width: 60%;
}

.destaque .destaque-titulo {
  text-transform: uppercase;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 40px;
  letter-spacing: 2px;

  margin-top: 15%;
}

.destaque .destaque-descricao {
  margin: 20px 0 40px 0;
}

.destaque .botao {
  background-color: rgba(0, 0, 0, .50);
  border: none;
  color: #F4F4F4;

  font-size: 12px;
  text-transform: uppercase;

  margin-right: 15px;
  padding:  15px 30px;

  cursor: pointer;
  transition: .3s ease all;
}

.destaque .botao:hover {
  background-color: #F4F4F4;
  color: var(--cor-principal);
}

.destaque .botao i {
  margin-right: 8px;
}

.carrosel {
  margin-top: 5px;
}

.poster {
  height: 100%;
  width: 100%;
  display: block;
}